<td class='code required'>{{name}}</td>
<td>
    Required
   
</td>
<td>
	<strong><span class="">{{{description}}}</span></strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
