<div>
    {{#if consumes}}
  {{#each consumes}}
    {{{this}}}
  {{/each}}
{{else}}
  application/json
{{/if}}
<!--<div class="signature-container">
 
{{#if sampleJSON}}
  <div class="snippet span4">
    <pre class="span4"><code>{{sampleJSON}}</code></pre>
    
  </div>
{{/if}}
</div>-->

